*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #2B2E56;
}

main {
    display: flex;
    justify-content: center;
    min-height: 90vh;
}

.grid-container {
    margin-top: 5.5rem;
    display: grid;
    grid-template-columns: 300px 100px 200px;
    grid-template-rows: 200px 100px 115px;
    grid-template-areas: 
    'a a b'
    'c d d'
    'c e e'
    ;
    gap: 10px;
}

.grid-container div {
    text-align: center;
    padding: 3em;
}

.item-1 {
    background-color: #EC3437;
    grid-area: a;
}

.item-2 {
    background-color: #FBB22F;
    grid-area: b;
}

.item-3 {
    background-color: #6FBE4F;
    grid-area: c;
}

.item-4 {
    background-color: #2CC5CF;
    grid-area: d; 
}

.item-5 {
    background-color: #2CC5CF;
    grid-area: e;
}

/* footer design */
.column-card-link {
    width: 15vw;
    margin-left: auto;
    margin-right: auto;
}

.column-card-link a {
    text-decoration: none;
    color: #EC3437;
}

.column-card-link a:hover {
    color: #FBB22F;
}