@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500&family=Merriweather:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    scroll-behavior: smooth;
    font-family: "Merriweather", sans-serif;
    height: 380vh;
}

header, main {
    padding-left: 5rem;
    padding-right: 4rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    height: 7vh;
    margin-top: 1.2rem;
    margin-bottom: 12rem;
}

.img-logo {
    width: 30%;
}

.list-links {
    list-style: none;
    margin-top: .6rem;
    font-size: 1.1rem;

}

.list-links li {
    display: inline;
    padding: 1rem;
}

.list-links a {
    text-decoration: none;
    color: #1E1D32;
}

.list-links a:hover {
    color: #F9796A;
}
/* nav bar ends */

/* first section */
.first-section {
    display: flex;
    justify-content: space-between;
    height: 50vh;
    color: #0d0c22;
}

.right-side {
    text-align: center;
}

.left-side {
    width: 50%;  
}

.name {
    margin-bottom: 1.9rem;
    font-weight: 300;
    font-size: 1.2rem;
    line-height: 28px;
}

.main-title {
    margin-bottom: 1.8rem;
}

.main-title h1 {
    font-size: 2.2rem;
    font-weight: 700;
}

.main-img {
    width: 333px;
    margin-right: 4rem;
    position: relative;
    bottom: 7.5rem;
}

.btn-white {
    width: 114px;
    height: 48px;
    background-color: #fff;
    color: #ff7d59;
    font-size: 1rem;
    line-height: 48px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(255,125,89,.2);
    font-weight: 600;
    border-radius: 5px;
    margin-top: 2.5rem;
}

.btn-white:hover, .btn-color:hover {
    box-shadow: 6px 6px 30px 4px rgba(255,125,89,.04),3px 3px 15px 2px rgba(255,125,89,.06),2px 2px 8px 1px 
    rgba(255,125,89,.04);
    transform: translate(0,-1px);
    color: #0d0c22;
}

.btn-color {
    width: 114px;
    height: 48px;
    margin-left: 2rem;
    background-color: #fff;
    color: #fff;
    border-radius: 5px;
    margin-top: 2.5rem;
    border: 1px solid rgba(255,125,89,.2);
    background-image: linear-gradient(90deg,#ff8d4d,#f4494e);
    box-shadow: 1px 1px 8px 1px rgba(0,0,0,.02),3px 3px 15px 2px rgba(0,0,0,.04),6px 6px 20px 4px rgba(0,0,0,.05);
    font-size: 1rem;
    text-decoration: none;
    line-height: 48px;
    cursor: pointer;
    font-weight: 600;
}
/* first sections ends */

/* about me section */
.about-container {
    line-height: 1.7;
    margin-top: 4.5rem; 
    margin-bottom: 9rem;  
}
/* about me styling ends */

/* service styling */
.service-title {
    margin-bottom: 2rem;
}

.services-offered {
    display: flex;
    justify-content: space-between;
}

.img-coding {
    width: 225px;
    height: 225px;
}

.first-service {
    text-align: center;
}

.first-service h3 {
    margin-top: 1rem;
}

.first-service p {
    margin-top: 1rem;
    line-height: 1.7;
}

.second-service {
    text-align: center;
}

.second-service h3 {
    margin-top: 1rem;
}

.second-service p {
    margin-top: 1rem;
    line-height: 1.7;
}
/* service styling ends */

/* project styling */
.project-title {
    margin-top: 9rem;
}

.project-container {
    display: flex;
}

.register-left h4 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.register-left p{
    line-height: 1.7;
}

.register-left a {
    display: block;
    text-decoration: none;
    color: #f4494e;
    margin-top: 2rem;
}

.register-left a:hover {
    color: #0d0c22;
}

.signup-screenshot {
    width: 750px;
}

.stat-container {
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.stat-screenshot {
    width: 700px;
}
/* project styling ends */

/* footer styling */
footer {
    background-color: #F9F9F9;
    margin-top: 8rem;
    height: 30vh;
}

.about-ayo {
    display: flex;
    justify-content: start;
    margin-left: 6rem;
}

.about-img-container {
    /* border: 1px solid red; */
    width: 100px;
    margin-top: 4rem;
    
}

.about-name {
    /* border: 1px solid black; */
    margin-right: 10rem;
    margin-top: 4rem;
    color: #797992;
}

.about-position {
    margin-top: .4rem;
}

.about-img {
    width: 50px;   
}

.copyright {
    color: #797992;
    margin-top: 4rem;
    margin-left: 40rem;
    font-size: .8rem;
}